body {
  font-family: "Hiragino Sans";
}

h1{
  font-size: 28px;
  /*color: #320084;*/
}

h2{
  font-size: 28px;
  /*color: #320084;*/
}

h3{
  font-size: 20px;
  /*color: #320084;*/
}

section{
}

div{
 display: flex;
　　flex-direction: column;
　　　align-items: center; 
}  

/*レスポンシブ : https://seolaboratory.jp/89410/*/
/*@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/ 
 /*.syoukai{
  /* PCで横並びにしたい */
  /*justify-content: space-around;
 }
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
 /*.syoukai{
  /* スマホで縦並び&中央揃えにしたい */
  /*display: flex;
　　　　flex-direction: column;
　　　　align-items: center;
 }
}*/

.top-manga-1{
 } 

.syokai{
}

.syokai-1{
}

.syokai-2{
}

.syokai-3{
}

.top-manga-2{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.kimono{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.otoshidama-1{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.otoshidama-2{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.eto{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.omake{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
