body {
  font-family: "Hiragino Sans";
  display: flex;
　　　　flex-direction: column;
　　　　align-items: center;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 20px;
}

.manga{
}

.syoukai{
  justify-content: space-around;
}

.shyoukai-1{
}

.shyoukai-2{
}

.shyoukai-3{
}

.manga-illust{
}

.comment{
}
