body {
  font-family: "Hiragino Sans";
}

h1{
  font-size: 60px;
  margin-bottom: 0px;
  /*color: #320084;*/
}

h2{
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0px;
  /*color: #320084;*/
}

h3{
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*color: #320084;*/
}

section{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

img{
 width: 100%;
 height: auto;
}

img.kyara{
 width: 70%
 height: auto; 
}

/*レスポンシブ : https://seolaboratory.jp/89410/*/
/*@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/ 
 /*.syoukai{
  /* PCで横並びにしたい */
  /*justify-content: space-around;
 }
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
 /*.syoukai{
  /* スマホで縦並び&中央揃えにしたい */
  /*display: flex;
　　　　flex-direction: column;
　　　　align-items: center;
 }
}*/

.top-manga-1{
 } 

.syokai{
  margin-bottom: 100px;
  margin-top: 100px;
}

.syokai-1{
 width: 60%;
 height: auto;
 text-align: center;
 flex-wrap: wrap;
}

.syokai-2{
 width: 60%;
 height: auto;
 text-align: center;
 flex-wrap: wrap;
}

.syokai-3{
 width: 60%;
 height: auto;
 text-align: center;
 flex-wrap: wrap; 
}

.top-manga-2{
}
.kimono{
  margin-top: 100px;
  margin-bottom: 100px;
}
.otoshidama-1{
  margin-top: 100px;
  margin-bottom: 100px;
}
.otoshidama-2{
  margin-top: 100px;
  margin-bottom: 100px;
}
.eto{
  margin-top: 100px;
  margin-bottom: 100px;
}
.omake{
}
